.App{
  min-height: 100vh;  
}
.scroll-bg {
  height: 100%;
  width: 100%;
  background-image: url('../images/bg-image.jpg');
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  padding: 10px 20px;
  background-color:#b21f29;
  color: #fff;
  border:none;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
